/* Add your custom extension styling here */
.resource-monitor-box {
    spacing: 3px;
}

.resource-monitor-menu {
    min-width: 300px;
}

.resource-monitor-item {
    spacing: 0.5px;
}

.resource-monitor-item .system-status-icon {
    color: #ffffff;
}